/*General settings*/
*{
	box-sizing: border-box;

}

p{
	margin-bottom: 5px;
	margin-top: 50px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	background-color: grey;
	text-align: justify;

	


}


div.section{
	float:right;
	position: relative;

}



#intro{
	text-align: center;
}
/*
.row{
	width:100%;
	position:relative;
	
}*/

/*Titles*/
#chicken{
	background-color: pink;
	position:absolute;
	border:1px solid black;
	width:100px;
	height: 40px;
 /*	top:-51px;
 	right:0px;*/
 	text-align: center;
 	right:0px;
 	

 	

	
}

#beef{
	background-color: red;
	position:absolute;
	width:100px;
	height: 40px;
/*	top:-51px;
 	right:0px;*/
	border:1px solid black;
	text-align: center;
	
}

#sushi{
	background-color: yellow;
	position:absolute;
	width:100px;
	height: 40px;
	/*top:-51px;
 	right:0px;*/
	border:1px solid black;
	text-align: center;
}


/*Displays*/

/*desktop*/
@media(min-width:992px){
	.col-lg-3{
	float:left;
	}
	.col-lg-3{
		position:relative;
		width:31%;
		background-color: grey;
		border: 1px solid black;
		margin-left: 15px;
		margin-top: 35px;
		padding-bottom: 50px;
		
		
	}

	#chicken{

		top:-51px;
 	right:0px;
	}

	#beef{
		top:-51px;
 	right:0px;
	}

	#sushi{
		top:-51px;
 	right:0px;
	}



}

/*tablet*/
@media(min-width:768px) and (max-width: 991px){
	.col-md, .col-md-1 {
	float:left;
	}
	.col-md{
		width:48%;
		background-color: grey;
		border: 1px solid black;
		margin-right: 10px;
		margin-left:5px;
		padding-bottom: 50px;

	}

	.col-md-1{
		width:98%;
		background-color: grey;
		border: 1px solid black;
		margin-top: 10px;
		margin-left:5px;
padding-bottom: 50px;

	}

	#chicken{
	top:-51px;
 	left:-100px;
	}

	#beef{
	top:-51px;
 	left:-100px;
	}

	#sushi{
	top:-51px;
 	left:-100px;

	}
}


/*mobile*/
@media(max-width:767px){
	.col-sm{
	float:left;
	}
	.col-sm{
		width:90%;
		border: 1px solid black;
		margin-top: 15px;
		margin-left: 10px;
		margin-right: 15px;
		padding-bottom: 50px;
		background-color: grey;

		
		
	}

	#chicken{
	top:-51px;
 	left:-100px;
	}

	#beef{
	top:-51px;
 	left:-100px;
	}

	#sushi{
	top:-51px;
 	left:-100px;

	}
}